<html>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#select_link').click(function (e) {
            e.preventDefault();
            console.log('select_link clicked');

            function test(data) {
                return { "message": "OK" };
            }

            $.ajax({
                dataType: 'json',
                json: 'callback',
                url: 'http://localhost:8000/all',
                success: function (data) {
                    console.log(JSON.stringify(data));
                    return data;
                }
            });
        });
    });
</script>
<style>

    .bar{
    fill: steelblue;
    }

    .bar:hover{
    fill: brown;
    }

    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

</style>
</head>

<body>
    <script>
        var graphdata = [];

        var margin = { top: 20, right: 20, bottom: 100, left: 00 },
            width = 1280 - margin.left - margin.right,
            height = 1020 - margin.top - margin.bottom;

        var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .005);
    
        var y = d3.scale.linear()
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10);

        var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        $.ajax({
            dataType: 'json',
            json: 'callback',
            url: 'http://localhost:8000/all',
            success: function (data) {
                console.log("success");
                draw_graph(data);
            }
        });

        function draw_graph(data) {
           /* 
            data = $(data).filter(function (i, n) {
                return n.year === 2016;
            });
*/
            for (var d = 0; d < data.length; d++) {
                console.log(data[d].destination, data[d].refugees, data[d].year);

            }
            //             console.log(data);
            //             if (err) throw err;

            x.domain(data.map(function (d) { return d.destination; }));
            y.domain([0, d3.max(data, function (d) { return d.refugees; })]);

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
            .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 5)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Refugees admitted");

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis)
            .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", "-.55em")
                .attr("transform", "rotate(-90)")
                .style("color", "red")

            svg.selectAll(".bar")
                .data(data)
            .enter().append("rect")
                .attr("class", "bar")
                //.attr("x", function (d) { return d.id*2; })
                .attr("x", function (d) { return x(d.destination); })
                .attr("y", function (d) { return y(d.refugees); })
                //.attr("width", function(d) { return 10;})
                .attr("width", function(d) { return x.rangeBand();})
                .attr("height", function (d) { return height - y(d.refugees); });
        };
    </script>
    text
</body>


<style>
</style>
