<html>
    <head>
        <meta charset="UTF-8">
        <title>World Map</title>
        <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <style>
            body {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div id="container" style="position: relative; width: 100%; height:100% "></div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="/scripts/datamaps.world.min.js"></script>
        <script type="text/javascript">

         $.ajax({
             dataType: 'json',
             json: 'callback',
             url: 'http://localhost:8000/all',
             success: function (data) {
                 console.log("success");
            var map = new Datamap({
                element: document.getElementById('container'),
                projection: 'mercator',
                fills: {
                    defaultFill: "#bebebe",
                    win: '#0fa0fa'
                },
                data: {
                    'ARG': { fillKey: 'win' , refugees: 342},
                    'AUS': { fillKey: 'win' , refugees: 27019 },
                    'AUT': { fillKey: 'win' , refugees: 2053},
                    'BEL': { fillKey: 'win' , refugees: 8489},
                    'BEN': { fillKey: 'win' , refugees: 15 },
                    'BRA': { fillKey: 'win' , refugees: 523 },
                    'BFA': { fillKey: 'win' , refugees: 65 },
                    'KHM': { fillKey: 'win' , refugees: 1483 },
                    'CAN': { fillKey: 'win' , refugees: 36445 },
                    'CAF': { fillKey: 'win' , refugees: 4 },
                    'CHL': { fillKey: 'win' , refugees: 15 },
                    'CHN': { fillKey: 'win' , refugees: 10974576 },
                    'COL': { fillKey: 'win' , refugees: 68 },
                    'CIV': { fillKey: 'win' , refugees: 68 },
                    'CYP': { fillKey: 'win' , refugees: 9 },
                    'CZE': { fillKey: 'win' , refugees: 1582 },
                    'DNK': { fillKey: 'win' , refugees: 14703 },
                    'ECU': { fillKey: 'win' , refugees: 115 },
                    'FIN': { fillKey: 'win' , refugees: 2294 },
                    'FRA': { fillKey: 'win' , refugees: 244073 },
                    'GAB': { fillKey: 'win' , refugees: 60 },
                    'DEU': { fillKey: 'win' , refugees: 246785 },
                    'GRC': { fillKey: 'win' , refugees: 2341 },
                    'HKG': { fillKey: 'win' , refugees: 249021 },
                    'HUN': { fillKey: 'win' , refugees: 33 },
                    'ISL': { fillKey: 'win' , refugees: 590 },
                    'IND': { fillKey: 'win' , refugees: 9 },
                    'IDN': { fillKey: 'win' , refugees: 102089 },
                    'IRL': { fillKey: 'win' , refugees: 66 },
                    'ITA': { fillKey: 'win' , refugees: 30143 },
                    'JPN': { fillKey: 'win' , refugees: 116174 },
                    'LIE': { fillKey: 'win' , refugees: 76 },
                    'LTU': { fillKey: 'win' , refugees: 9 },
                    'LUX': { fillKey: 'win' , refugees: 3 },
                    'MAC': { fillKey: 'win' , refugees: 13135 },
                    'MYS': { fillKey: 'win' , refugees: 237201 },
                    'MEX': { fillKey: 'win' , refugees: 5 },
                    'MAR': { fillKey: 'win' , refugees: 26 },
                    'NLD': { fillKey: 'win' , refugees: 16437 },
                    'NZL': { fillKey: 'win' , refugees: 4236 },
                    'NGA': { fillKey: 'win' , refugees: 1 },
                    'NOR': { fillKey: 'win' , refugees: 3374 },
                    'PAN': { fillKey: 'win' , refugees: 16 },
                    'PNG': { fillKey: 'win' , refugees: 15 },
                    'PRY': { fillKey: 'win' , refugees: 252 },
                    'PER': { fillKey: 'win' , refugees: 5462 },
                    'PHL': { fillKey: 'win' , refugees: 142171 },
                    'POL': { fillKey: 'win' , refugees: 135 },
                    'KOR': { fillKey: 'win' , refugees: 1321 },
                    'ROU': { fillKey: 'win' , refugees: 2 },
                    'RUS': { fillKey: 'win' , refugees: 22 },
                    'SLE': { fillKey: 'win' , refugees: 18 },
                    'SGP': { fillKey: 'win' , refugees: 2801 },
                    'SVK': { fillKey: 'win' , refugees: 68 },
                    'ESP': { fillKey: 'win' , refugees: 2001 },
                    'CHE': { fillKey: 'win' , refugees: 46915 },
                    'THA': { fillKey: 'win' , refugees: 176571 },
                    'TLS': { fillKey: 'win' , refugees: 8 },
                    'UKR': { fillKey: 'win' , refugees: 13 },
                    'GBR': { fillKey: 'win' , refugees: 10982 },
                    'USA': { fillKey: 'win' , refugees: 2032847 },
                    'URY': { fillKey: 'win' , refugees: 22},
                    'YEM': { fillKey: 'win' , refugees: 539 }
                },
                geographyConfig: {
                    popupTemplate: function(geo, data) {
                        return ['<div class="hoverinfo"><strong>',
                                geo.properties.name,
                                '<br>Refugees admitted: '
                                 + data.refugees,
                                '</strong></div>'].join('');
                    }
                }
            });

            map.arc([
              {
                origin: 'VNM',
                destination: 'ARG' // Argentina
              },
              {
                origin: 'VNM',
                destination: 'AUS' // Australia
              },
              {
                origin: 'VNM',
                destination: 'AUT' // Austria
              },
              {
                origin: 'VNM',
                destination: 'BEL' // Belgium
              },
              {
                origin: 'VNM',
                destination: 'BEN' // Benin
              },
              {
                origin: 'VNM',
                destination: 'BRA' // Brazil
              },
              {
                origin: 'VNM',
                destination: 'BFA' // Burkina Faso
              },
              {
                origin: 'VNM',
                destination: 'KHM' // Cambodia
              },
              {
                origin: 'VNM',
                destination: 'CAN' // Canada
              },
              {
                origin: 'VNM',
                destination: 'CAF' // Central Africa
              },
              {
                origin: 'VNM',
                destination: 'CHL' // Chile
              },
              {
                origin: 'VNM',
                destination: 'CHN' // China
              },
              {
                origin: 'VNM',
                destination: 'COL' // Colombia
              },
              {
                origin: 'VNM',
                destination: 'CIV' // Cote d'Ivoire
              },
              {
                origin: 'VNM',
                destination: 'CYP' // Cyprus
              },
              {
                origin: 'VNM',
                destination: 'CZE' // Czech
              },
              {
                origin: 'VNM',
                destination: 'DNK' // Denmark
              },
              {
                origin: 'VNM',
                destination: 'ECU' // Ecuador
              },
              {
                origin: 'VNM',
                destination: 'FIN' // Finland
              },
              {
                origin: 'VNM',
                destination: 'FRA' // France
              },
              {
                origin: 'VNM',
                destination: 'GAB' // Gabon
              },
              {
                origin: 'VNM',
                destination: 'DEU' // Germany
              },
              {
                origin: 'VNM',
                destination: 'HKG' // Hong Kong
              },
              {
                origin: 'VNM',
                destination: 'HUN' // Hungary
              },
              {
                origin: 'VNM',
                destination: 'ISL' // Iceland
              },
              {
                origin: 'VNM',
                destination: 'IND' // India
              },
              {
                origin: 'VNM',
                destination: 'IDN' // Indonesia
              },
              {
                origin: 'VNM',
                destination: 'IRL' // Ireland
              },
              {
                origin: 'VNM',
                destination: 'ITA' // Italy
              },
              {
                origin: 'VNM',
                destination: 'JPN' // Japan
              },
              {
                origin: 'VNM',
                destination: 'LIE' // Lichtenstein
              },
              {
                origin: 'VNM',
                destination: 'LTU' // Lithuania
              },
              {
                origin: 'VNM',
                destination: 'LUX' // Luxembourg
              },
              {
                origin: 'VNM',
                destination: 'MAC' // Macao
              },
              {
                origin: 'VNM',
                destination: 'MYS' // Malaysia
              },
              {
                origin: 'VNM',
                destination: 'MEX' // Mexico
              },
              {
                origin: 'VNM',
                destination: 'MAR' // Morocco
              },
              {
                origin: 'VNM',
                destination: 'NLD' // Netherlands
              },
              {
                origin: 'VNM',
                destination: 'NZL' // New Zealand
              },
              {
                origin: 'VNM',
                destination: 'NGA' // Nigeria
              },
              {
                origin: 'VNM',
                destination: 'NOR' // Norway
              },
              {
                origin: 'VNM',
                destination: 'PAN' // Panama
              },
              {
                origin: 'VNM',
                destination: 'PNG' // Papua New Guinea
              },
              {
                origin: 'VNM',
                destination: 'PRY' // Paraguay
              },
              {
                origin: 'VNM',
                destination: 'PER' // Peru
              },
              {
                origin: 'VNM',
                destination: 'PHL' // Phillipines
              },
              {
                origin: 'VNM',
                destination: 'POL' // Poland
              },
              {
                origin: 'VNM',
                destination: 'KOR' // Korea
              },
              {
                origin: 'VNM',
                destination: 'ROU' // Romania
              },
              {
                origin: 'VNM',
                destination: 'RUS' // Russian Federation
              },
              {
                origin: 'VNM',
                destination: 'SLE' // Sierra Leone
              },
              {
                origin: 'VNM',
                destination: 'SGP' // Singapore
              },
              {
                origin: 'VNM',
                destination: 'SVK' // Slovakia
              },
              {
                origin: 'VNM',
                destination: 'ESP' // Spain
              },
              {
                origin: 'VNM',
                destination: 'CHE' // Switzerland
              },
              {
                origin: 'VNM',
                destination: 'THA' // Thailand
              },
              {
                origin: 'VNM',
                destination: 'TLS' // Timo-Leste
              },
              {
                origin: 'VNM',
                destination: 'UKR' // Ukraine
              },
              {
                origin: 'VNM',
                destination: 'GBR' // UK
              },
              {
                origin: 'VNM',
                destination: 'USA' // USA
              },
              {
                origin: 'VNM',
                destination: 'URY' // Uruguay
              },
              {
                origin: 'VNM',
                destination: 'YEM' // Yemen
              }
            ],  {strokeWidth: 1 , arcSharpness: 1.4});


             }
         });


        </script>
    </body>
</html>

